bottle==0.13.3
cffi==1.17.1
click==8.2.1
colorama==0.4.6
Flask==2.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
proxy_tools==0.1.0
pycparser==2.22
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
opencv-python
requests
QtPy==2.4.3
Werkzeug==2.0.1
